.footer {
    max-width: 1440px;
    min-width: 400px;
    height: 136px;
    background-color: #121212;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 61px;
    text-align: center;
    position: relative;
}
.footer h2 {
    position: absolute;
    top: 13px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.socials {
    cursor: pointer;
}
.footer a {
    margin-top: 70px;
}